<div>
  <h2>Register</h2>
  <form [formGroup]="registerForm">

    <div>
      <mat-form-field apperance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field apperance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field apperance="outline">
        <mat-label>First name</mat-label>
        <input matInput  formControlName="firstname">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field apperance="outline">
        <mat-label>Last name</mat-label>
        <input matInput  formControlName="lastname">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field apperance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field apperance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
      </mat-form-field>
    </div>

    <button style="width: 20%" [disabled]="registerForm.invalid" (click)="submit()" mat-flat-button color="primary" >
      Register
    </button>
  </form>
</div>
